<h1>Welcome to the Away Day Timer!</h1>
<ul>
	<li>Current Time: <span id="current-time"><%= DateTime.now.strftime("%l:%M:%S %p")%></span></li>
	<li>Next Event: <span id="event-name"><%= @sched_event.name %></li>
	<li>Location: <%= @sched_event.venue %></li>
	<li>Start Time: <span id="event-start-time" data-datestring="<%= @sched_event.start_time%>">
			<%= @sched_event.start_time.strftime("%l:%M %p") %>
		</span></li>
	<li>Time Left: <span id="time-left"></span></li>
</ul>